<h1><%= t('.title') %></h1>

<p>
  <strong><%= t('admin.railway_stations.attributes.title') %></strong>
  <%= @railway_station.title %>
</p>

<p>
  <strong><%= t('admin.railway_stations.attributes.trains_on_station') %></strong>
  <% if @railway_station.trains.present? %>
    <ul>
      <% @railway_station.trains.each do |train| %>
          <li>
            <%= link_to train.number, admin_train_path(train) %>
          </li>
      <% end %>
    </ul>
  <% else %>
    <%= t('common.empty') %>
  <% end %>
</p>

<p class="nav-inner">
  <%= link_to t('common.edit'), edit_admin_railway_station_path(@railway_station) %>
  <span> | </span>
  <%= link_to t('common.back'), admin_railway_stations_path %>
</p>
