<table class="table table-condensed">
  <thead>
  <tr>
    <th><%= t('admin.railway_stations.attributes.title') %></th>
    <th><%= t('admin.railway_stations.attributes.position') %></th>
  </tr>
  </thead>
  <tbody>
  <% stations.each do |station| %>
      <tr>
        <td><%= link_to station.title, admin_railway_station_path(station) %></td>
        <td>
          <%= form_tag(update_within_route_admin_railway_station_path(station), method: :patch) do %>
            <%= hidden_field_tag :route_id, @route.id %>
            <div class="row">
              <div class="col-sm-3">
                <%= number_field_tag :position, station.within_route(@route, :position),
                                     class: 'form-control' %>
              </div>
              <div class="col-sm-3">
                <%= time_field_tag :arrival_time, station.within_route(@route, :arrival_time),
                                   placeholder: t('admin.railway_stations.attributes.arrival_time'),
                                   class: 'form-control' %>
              </div>
              <div class="col-sm-3">
                <%= time_field_tag :departure_time, station.within_route(@route, :departure_time),
                                   placeholder: t('admin.railway_stations.attributes.departure_time'),
                                   class: 'form-control' %>
              </div>
              <div class="col-sm-3">
                <%= submit_tag t('common.update'), class: 'btn btn-primary btn-sm' %>
              </div>
            </div>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
