<h1><%= t('.title') %> «<%= @route.name %>»</h1>

<h2 class="sub-header"><%= t('admin.routes.attributes.stations') %></h2>
<div>
  <%= render 'stations', stations: @route.railway_stations.ordered %>
</div>

<h2 class="sub-header"><%= t('admin.routes.attributes.trains') %></h2>
<div>
  <% if @route.trains.present? %>
      <ul>
        <% @route.trains.each do |train| %>
            <li>
              <%= link_to train.number, admin_train_path(train) %>
            </li>
        <% end %>
      </ul>
  <% else %>
      <%= t('common.empty') %>
  <% end %>
</div>

<%= link_to t('common.edit'), edit_admin_route_path(@route) %> |
<%= link_to t('common.back'), admin_routes_path %>
