<tr>
  <td><%= ticket.serial_number %></td>
  <td><%= ticket.train.number %></td>
  <td><%= ticket.train.route.name %></td>
  <td><%= ticket.start_station.title %></td>
  <td><%= ticket.end_station.title %></td>
  <%= render 'common/button_column', links: {show: ticket_path(ticket),
                                             delete: ticket_path(ticket)
  } %>
</tr>
