<h1>Your Order Details</h1>

<p>Order time: <%= @ticket.created_at.strftime '%d.%m.%Y %H:%M' %></p>

<h2>Information:</h2>
<table>
  <tbody>
  <tr>
    <th>Ticket Number:</th>
    <td><%= @ticket.serial_number %></td>
  </tr>
  <tr>
    <th>Train Number:</th>
    <td><%= @ticket.train.number %></td>
  </tr>
  <tr>
    <th>Route:</th>
    <td><%= @ticket.train.route.name %></td>
  </tr>
  <tr>
    <th>Departing point:</th>
    <td>
      <%= @ticket.start_station.title %>
      (at <%= @ticket.start_station.within_route(@ticket.train.route, :departure_time) %>)
    </td>
  </tr>
  <tr>
    <th>Destination point:</th>
    <td>
      <%= @ticket.end_station.title %>
      (at <%= @ticket.end_station.within_route(@ticket.train.route, :arrival_time) %>)
    </td>
  </tr>
  </tbody>
</table>

<h2>Passenger data:</h2>
<table>
  <tbody>
  <tr>
    <th>Passenger name:</th>
    <td><%= @ticket.passenger_name %></td>
  </tr>
  <tr>
    <th>Passport number:</th>
    <td><%= @ticket.passport_number %></td>
  </tr>
  </tbody>
</table>

<%= link_to 'Back to search', search_path %>
