<h1><%= t('.title') %></h1>

<p><%= t('tickets.attributes.order_time') %>: <%= @ticket.created_at.strftime '%d.%m.%Y %H:%M' %></p>

<h2><%= t('.information') %></h2>
<table class="table table-striped">
  <tbody>
  <tr>
    <th><%= t('tickets.attributes.sn') %></th>
    <td><%= @ticket.serial_number %></td>
  </tr>
  <tr>
    <th><%= t('tickets.attributes.train') %></th>
    <td><%= @ticket.train.number %></td>
  </tr>
  <tr>
    <th><%= t('tickets.attributes.route') %></th>
    <td><%= @ticket.train.route.name %></td>
  </tr>
  <tr>
    <th><%= t('tickets.attributes.start_station') %></th>
    <td>
      <%= @ticket.start_station.title %>
      (at <%= @ticket.start_station.within_route(@ticket.train.route, :departure_time) %>)
    </td>
  </tr>
  <tr>
    <th><%= t('tickets.attributes.end_station') %></th>
    <td>
      <%= @ticket.end_station.title %>
      (at <%= @ticket.end_station.within_route(@ticket.train.route, :arrival_time) %>)
    </td>
  </tr>
  </tbody>
</table>

<h2><%= t('.passenger_data') %></h2>
<table class="table table-striped">
  <tbody>
  <tr>
    <th><%= t('tickets.attributes.passenger_name') %></th>
    <td><%= @ticket.passenger_name %></td>
  </tr>
  <tr>
    <th><%= t('tickets.attributes.passport_number') %></th>
    <td><%= @ticket.passport_number %></td>
  </tr>
  </tbody>
</table>

<p class="nav-inner">
  <%= link_to t('common.back'), search_path %>
</p>
