<tr>
  <td><%= ticket.serial_number %></td>
  <td><%= link_to ticket.train.number, admin_train_path(ticket.train) %></td>
  <td><%= link_to ticket.train.route.name, admin_route_path(ticket.train.route) %></td>
  <td><%= ticket.start_station.title %></td>
  <td><%= ticket.end_station.title %></td>
  <td><%= ticket.user.full_name %></td>
  <%= render 'common/button_column', links: {show: admin_ticket_path(ticket),
                                             edit: edit_admin_ticket_path(ticket),
                                             delete: admin_ticket_path(ticket)
  } %>
</tr>
