<h1><%= t('.title') %></h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= t('tickets.attributes.sn') %></th>
    <th><%= t('tickets.attributes.train') %></th>
    <th><%= t('tickets.attributes.route') %></th>
    <th><%= t('tickets.attributes.start_station') %></th>
    <th><%= t('tickets.attributes.end_station') %></th>
    <th><%= t('tickets.attributes.buyer') %></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <%= render @tickets %>
  </tbody>
</table>
