<h1>Search tickets</h1>

<%= form_for(@search, method: :post, url: search_path) do |f| %>
    <%= render 'common/errors', resource: @search %>
    <div class="field">
      <%= label_tag 'Departing point' %>
      <%= f.collection_select :start_station_id, RailwayStation.all.ordered_by_title, :id, :title %>
    </div>

    <div class="field">
      <%= label_tag 'Destination point' %>
      <%= f.collection_select :end_station_id, RailwayStation.all.ordered_by_title, :id, :title %>
    </div>

    <div class="actions">
      <%= submit_tag 'Search' %>
    </div>
<% end %>

<% if @search.result %>
  <% if @search.result.empty? %>
      <p>Search result is empty</p>
  <% else %>
      <table>
        <thead>
          <tr>
            <th>Train</th>
            <th>Route</th>
            <th>Departure time</th>
            <th>Arrival time</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @search.result.each do |train| %>
            <tr>
              <td><%= link_to train.number, train %></td>
              <td><%= link_to train.route.name, train.route %></td>
              <td><%= @search.start_station.within_route(train.route, :departure_time) %></td>
              <td><%= @search.end_station.within_route(train.route, :arrival_time) %></td>
              <td>
                <%= form_tag(buy_tickets_path) do %>
                    <%= hidden_field_tag :train_id, train.id %>
                    <%= hidden_field_tag :start_station_id, @search.start_station_id %>
                    <%= hidden_field_tag :end_station_id, @search.end_station_id %>
                    <%= submit_tag 'Buy' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  <% end %>
<% end %>
