<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1><%= t('.title') %></h1>

    <div class="well">
      <%= form_for(@search, method: :post, url: search_path) do |f| %>
          <div class="form-group">
            <%= f.label :start_station_id %>
            <%= f.collection_select :start_station_id, RailwayStation.all.ordered_by_title, :id, :title, {}, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :end_station_id %>
            <%= f.collection_select :end_station_id, RailwayStation.all.ordered_by_title, :id, :title, {}, class: 'form-control' %>
          </div>

          <div class="actions">
            <%= submit_tag t('.submit'), class: 'btn btn-primary btn-lg' %>
          </div>
      <% end %>
    </div>
    <%= render 'common/errors', resource: @search %>
  </div>
</div>

<% if @search.result %>
    <h2><%= t('.search_results') %></h2>
  <% if @search.result.empty? %>
      <p><%= t('.empty') %></p>
  <% else %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= t('tickets.attributes.train') %></th>
            <th><%= t('tickets.attributes.route') %></th>
            <th><%= t('tickets.attributes.departure_time') %></th>
            <th><%= t('tickets.attributes.arrival_time') %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @search.result.each do |train| %>
            <tr>
              <td><%= train.number %></td>
              <td><%= train.route.name %></td>
              <td><%= @search.start_station.within_route(train.route, :departure_time) %></td>
              <td><%= @search.end_station.within_route(train.route, :arrival_time) %></td>
              <td>
                <%= form_tag(buy_tickets_path) do %>
                    <%= hidden_field_tag :train_id, train.id %>
                    <%= hidden_field_tag :start_station_id, @search.start_station_id %>
                    <%= hidden_field_tag :end_station_id, @search.end_station_id %>
                    <%= submit_tag t('.buy'), class: 'btn btn-info btn-sm' %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  <% end %>
<% end %>
