<%= form_for(wagon.becomes(Wagon)) do |f| %>
    <%= render 'common/errors', resource: wagon %>

    <% f.object = wagon.becomes(wagon.class) %>

    <div class="field">
      <%= f.label :type %>
      <%= f.select :type, Wagon.types %>
    </div>

    <div class="field">
      <%= f.label :train_id %>
      <%= f.collection_select :train_id, Train.all, :id, :number %>
    </div>

    <div class="field">
      <%= f.label :number %>
      <%= f.text_field :number %>
    </div>

    <div class="field">
      <%= f.label :top_places %>
      <%= f.text_field :top_places %>
    </div>

    <div class="field">
      <%= f.label :bottom_places %>
      <%= f.text_field :bottom_places %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
