<tr>
  <td><%= link_to wagon.train.number, wagon.train %></td>
  <td><%= wagon.type_label %></td>
  <td><%= wagon.number %></td>
  <td><%= link_to 'Show', wagon_path(wagon) %></td>
  <td><%= link_to 'Edit', edit_wagon_path(wagon) %></td>
  <td><%= link_to 'Destroy', wagon_path(wagon), method: :delete, data: {confirm: 'Are you sure?'} %></td>
</tr>
