<h1>Wagon</h1>

<p>
  <strong>Type:</strong>
  <%= @wagon.type_label %>
</p>

<p>
  <strong>Train Number:</strong>
  <%= @wagon.train.number %>
</p>

<p>
  <strong>Number of Wagon:</strong>
  <%= @wagon.number %>
</p>

<h2>Places</h2>
<div>
  <%= render "places_#{@wagon.type.underscore}", wagon: @wagon %>
</div>

<%= link_to 'Edit', edit_wagon_path(@wagon) %> |
<%= link_to 'Back', @wagon.train %>
