<table>
  <thead>
  <tr>
    <th>Station</th>
    <th>Position</th>
  </tr>
  </thead>
  <tbody>
  <% stations.each do |station| %>
      <tr>
        <td><%= link_to station.title, station %></td>
        <td>
          <%= form_tag(update_position_railway_station_path(station), method: :patch) do %>
              <%= hidden_field_tag :route_id, @route.id %>
              <%= number_field_tag :position, station.position_in(@route) %>
              <%= submit_tag 'update' %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
