<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<h1>Route "<%= @route.name %>"</h1>

<h2>Railway stations:</h2>
<div>
  <%= render 'stations', stations: @route.railway_stations.ordered %>
</div>

<h2>Trains on Route:</h2>
<div>
  <%= render 'common/list', list: @route.trains, attr: :number, empty_text: 'no trains on route' %>
</div>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
