<tr>
  <td><%= train.number %></td>
  <td>
    <% if train.route.present? %>
        <%= link_to train.route.name, admin_route_path(train.route) %>
    <% else %>
        <%= t('common.not_set.m') %>
    <% end %>
  </td>
  <td>
    <% if train.current_station.present? %>
        <%= link_to train.current_station.title, admin_railway_station_path(train.current_station) %>
    <% else %>
        <%= t('common.not_set.f') %>
    <% end %>
  </td>
  <%= render 'common/button_column', links: {show: admin_train_path(train),
                                             edit: edit_admin_train_path(train),
                                             delete: admin_train_path(train)
  } %>
</tr>
