<h1><%= t('.title') %></h1>

<p>
  <strong><%= t('admin.trains.attributes.number') %></strong>
  <%= @train.number %>
</p>

<p>
  <strong><%= t('admin.trains.attributes.current_station') %></strong>
  <% if @train.current_station.present? %>
      <%= link_to @train.current_station.title, admin_railway_station_path(@train.current_station) %>
  <% else %>
      <%= t('common.not_set.f') %>
  <% end %>
</p>

<p>
  <strong><%= t('admin.trains.attributes.route') %></strong>
  <% if @train.route.present? %>
      <%= link_to @train.route.name, admin_route_path(@train.route) %>
  <% else %>
      <%= t('common.not_set.m') %>
  <% end %>
</p>

<h2 class="sub-header"><%= t('.wagons') %></h2><div class="row">
  <div class="col-sm-12">
    <%= link_to t('.add_wagon'), new_admin_train_wagon_path(@train),
                class: 'btn btn-primary pull-right', role: 'button' %>
  </div>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Number</th>
    <th>Type</th>
    <th>Places</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @train.ordered_wagons.each do |wagon| %>
      <tr>
        <td><%= link_to wagon.number, admin_wagon_path(wagon) %></td>
        <td><%= wagon.type_label %></td>
        <td><%= render "admin/wagons/places_#{wagon.type.underscore}", wagon: wagon %></td>
        <%= render 'common/button_column', links: {show: admin_wagon_path(wagon),
                                                   edit: edit_admin_wagon_path(wagon),
                                                   delete: admin_wagon_path(wagon)
        } %>
      </tr>
  <% end %>
  </tbody>
</table>


<h2 class="sub-header"><%= t('.places_count_by_type') %></h2>
<div class="row">
  <div class="col-sm-6">
    <table class="table">
      <thead>
      <tr>
        <th><%= t('admin.wagons.attributes.type') %></th>
        <th><%= t('admin.wagons.attributes.place_type') %></th>
        <th><%= t('common.count') %></th>
      </tr>
      </thead>
      <tbody>
      <% Wagon::TYPES.each do |wagon_type, wagon_label| %>
          <% Wagon::PLACE_TYPES.each do |place_type, place_label| %>
              <% count = @train.capacity_by_type(wagon_type, place_type) %>
              <% if count > 0 %>
                  <tr>
                    <td><%= wagon_label %></td>
                    <td><%= place_label %></td>
                    <td><%= count %></td>
                  </tr>
              <% end %>
          <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-sm-6"></div>
</div>

<%= link_to t('common.edit'), edit_admin_train_path(@train) %> |
<%= link_to t('common.back'), admin_trains_path %>
