<h1><%= t('.title') %></h1>

<p>
  <strong><%= t('admin.wagons.attributes.type') %></strong>
  <%= @wagon.type_label %>
</p>

<p>
  <strong><%= t('admin.wagons.attributes.train') %></strong>
  <%= @wagon.train.number %>
</p>

<p>
  <strong><%= t('admin.wagons.attributes.number') %></strong>
  <%= @wagon.number %>
</p>

<h2 class="sub-header"><%= t('.places') %></h2>
<div>
  <%= render "places_#{@wagon.type.underscore}", wagon: @wagon %>
</div>

<p class="nav-inner">
  <%= link_to t('common.edit'), edit_admin_wagon_path(@wagon) %>
  <span> | </span>
  <%= link_to t('common.back'), admin_train_path(@wagon.train) %>
</p>
