<td class="button-column">
  <%= link_to(links[:show], data: {toggle: 'tooltip', title: t('common.show')}) do %>
      <%= fa_icon 'eye' %>
  <% end %>
  <%= link_to(links[:edit], data: {toggle: 'tooltip', title: t('common.edit')}) do %>
      <%= fa_icon 'pencil' %>
  <% end %>
  <%= link_to(links[:delete], method: :delete, data: {toggle: 'tooltip', title: t('common.destroy'), confirm: t('common.confirm')}) do %>
      <%= fa_icon 'remove' %>
  <% end %>
</td>